:root {
  --background-color: #20819f;
  --text-color:rgb(59, 54, 54) !important;

  --banner-background-color: #2ea6cb;
  --banner-text-color:  #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mtable {
  border-collapse: collapse;
  width: 100%;
}

.mtable td {
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style for odd rows */
tr:nth-child(odd) {
  background-color: #ffffff;
}

.mtable tr:hover {background-color: #ddd;}

.mtable th {
  padding: 1rem;
}

.hwrapper{
  display: flex;
  justify-content: center;
  border: #797a7a;
  max-width: 100%;
  background-color: var(--background-color); 
  height: 92vh;
}

.hsidebar{
  width: 17%;
}

.hcontainerWrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: whitesmoke;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #e0dfdf;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 78%;
  height: 90vh;
}

.hcontainerNavigation{
  border: #797a7a;
  max-width: 100%;
  height: 10%;
}

.hcontainer{
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: whitesmoke;
  max-width: 100%;
  height: 60%;
}

.hcontainerFooter{
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  max-width: 100%;
  height: 30%;
}

.hcontainerBox1 {
  flex: 1 0 calc(43% - 3rem); /* 3 columns with 10px gap */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 10px;
  overflow: auto;
  background-color: white;
  height: 100%;
}

.hcontainerBox11 {
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background-color: white;
  height: 60%;
}

.hcontainerBox12 {
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background-color: white;
  height: 35%;
}

.hcontainerBox2 {
  flex: 1 0 calc(43% - 3rem); /* 3 columns with 10px gap */
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background-color: white;
}
.hcontainerBox3 {
  flex: 1 0 calc(14% - 3rem); /* 3 columns with 10px gap */
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background-color: white;
}

.hcontainerFooterBox1 {
  flex: 1 0 calc(40% - 3rem); /* 3 columns with 10px gap */
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background-color: white;
}
.hcontainerFooterBox2 {
  flex: 1 0 calc(60% - 3rem); /* 3 columns with 10px gap */
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: auto;
  background-color: white;
}

.pwrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.pcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.pcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  color: var(--text-color);
  min-height: 6rem;
  min-width: 8rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pSpanHeading{
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.twrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.tcard {
  width: 32rem;
  height: 60px;
  margin-top: 5px;
  font-size: 12px;
  color: var(--text-color);
  position: relative;
  overflow: hidden;
  /* border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
}

.tSpanHeading{
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.tSpanSubheading{
  padding-left: 1rem;
  font-size: 12px;
  color: var(--text-color);
}

.qwrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-right: 10px;
  width: 100%;
  height: 100%;
}

.qcontainer{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 0.75rem;
  gap: 2.25rem;
  width: 90%;
  height: 50%;
}

.qcard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  color: var(--banner-text-color);
  min-height: 2rem;
  min-width: 6rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--banner-background-color);
}

.qSpanHeading{
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.mwrapper{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border-radius: 5px;
}

.mcontainer{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.mcard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 16rem;
}

.mSpanHeading{
  padding: 1rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
}

.bOuterCard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  align-content: center;
  width: 100%;
  background-color: white;
}

.bcard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 125px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--banner-background-color);
}

.binnerCard{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}

.btnOpenAccount{
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
  width: 10rem;
  border-radius: 5px;
  border-color: var(--banner-background-color);
}

.bspan1{
  font-size: 20px;
  color: var(--banner-text-color);
}

.bspan2{
  font-size: 18px;
  color: var(--text-color);
}

.bspan3{
  font-size: 14px;
  color: var(--text-color);
}

.form-group
{
  line-height: 2.5rem;
}

.submit
{
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
  width: 10rem;
  border-radius: 5px;
  border-color: var(--banner-background-color);
}